docker/dags/output_plots/top_gap/top_gaps_districts_05-02-14-02.png
docker/dags/output_plots/top_gap/top_gaps_districts_02-10-07-10.png
docker/dags/output_plots/top_gap/top_gaps_districts_01-04-15-04.png
docker/dags/output_plots/top_gap/top_gaps_districts_01-03-05-03.png
docker/dags/output_plots/top_gap/top_gaps_districts_01-02-15-02.png
docker/dags/output_plots/municiples_Travel_Balance_2023-05-15-2023-05-25.png
docker/dags/output_plots/municiples_Travel_Balance_2023-03-22-2023-03-31.png
docker/dags/output_plots/municiples_2023-05-15-2023-05-25.png
docker/dags/output_plots/infa_gap/Infraestructure_gaps_gaus_05-02-14-02.png
docker/dags/output_plots/infa_gap/Infraestructure_gaps_gaus_02-10-07-10.png
docker/dags/output_plots/infa_gap/Infraestructure_gaps_gaus_01-04-15-04.png
